.main{
    background-color:rgb(236, 255, 249);
}
.main1{
    
    background-color: lightsteelblue;
    width: 750px;
    margin-left: 300px;
    height: 100px;
    border-radius: 10px ;
}
.m{
    padding-top: 30px;
    text-align: center;
    color: white;
}
.line1,.line2,.line3,.line4,.line5,.inp {
    margin-left: 385px;;
}
.inp{
    width: 555px !important;
    height: 50px !important;
    margin-top: 10px !important;
    font-size: xx-large ;
    border-radius: 11px;
    background-color: lightgray;
    border-color: black;
    color: white;
    text-align: right;   

}
.inp:hover{
    background-color: lightgray;
    border-radius: 12px;
    border-color: black;
}
.btn1{
    width: 280px;
    height: 50px;
    margin-top: 10px;
    text-align: center;
    font-size: x-large;
    font-weight: 700;
    background-color: lightslategrey;
    border-color: lightslategray;
    border-radius: 8px;
}
.btn1:hover{    
    background-color: lightsteelblue;
    border-color: lightslategray;
    border-radius: 8px;
}
.btn2,.btn3,.btn4{
    width: 138px;
    height: 50px;
    margin-top: 4px;
    text-align: center;
    font-size: x-large;
    font-weight: 700;
    background-color: lightsteelblue;
    border-color: lightsteelblue;
    border-radius: 8px;
}
.btn2:hover{    
    background-color: lightslategrey;
    border-color: lightslategray;
    border-radius: 8px;
}
.btn3:hover{    
    background-color: lightslategrey;
    border-color: lightslategray;
    border-radius: 8px;
}
.btn4:hover{    
    background-color: lightslategrey;
    border-color: lightslategray;
    border-radius: 8px;
}
.btn5{
    width: 185px;
    height: 50px;
    margin-top: 4px;
    text-align: center;
    font-size: x-large;
    font-weight: 700;
    background-color: lightslategrey;
    border-color: lightslategray;
    border-radius: 5px;
}

.btn5:hover{    
    background-color: lightsteelblue;
    border-color: lightslategray;
    border-radius: 8px;
}